<div class='sign-in'>
  <h1>Sign In</h1>
  <div class='logos'>
    <div>
      <%= link_to "<i class='fa fa-facebook fa-5x' aria-hidden='true'></i>".html_safe,"/auth/facebook", id: "sign_in" %>
    </div>
    <div>
      <%= link_to "<i class='fa fa-twitter fa-5x' aria-hidden='true'></i>".html_safe, "/auth/twitter", id: "sign_in" %>
    </div>
    <div>
      <%= link_to "<i class='fa fa-google fa-5x' aria-hidden='true'></i>".html_safe, "/auth/google_oauth2", id: "sign_in" %>
    </div>
  </div>
</div>
